<section data-animation="animate-slide-right" class="section relative pt-20 pb-12 bg-white z-40   lg:pt-[120px]
lg:pb-[90px]
 ">
    <div class="container mx-auto bg-white ">
        <div class="flex flex-wrap items-center justify-center -mx-4">

            <div class="flex items-center justify-center w-full px-4 lg:w-4/12 animate-fade-left animate-delay-400 animate-once ">
             <img src="assets/images/avatars/ceo.png" alt="" class="w-[21rem] h-[21rem] lg:w-[32rem] lg:h-[31rem]">
            </div>

            <div class="w-full px-4 lg:w-1/2 xl:w-5/12 animate-fade-left animate-delay-400 animate-once ">
                <div class="p-5 mt-10 lg:mt-0 lg:ml-4">
                    <h1 class="block mb-4 text-2xl font-semibold w-fit underline1 ">

                        Henri Ghirardini
                    </h1>

                    <h2 class="mb-5 text-3xl font-bold text-dark  sm:text-[40px]/[48px]">
                        PDG Alouette Hélicoptère WorldWide Services
                    </h2>
                    <p class="mb-5 text-base text-body-color dark:text-dark-6">
                        “ CF Expertise Comptable nous accompagne dans tous nos besoins en comptabilité : de
                        l’établissement de notre bilan comptable, à la présentation de nos comptes auprès de nos
                        actionnaires en passant par la saisie de nos opérations. Mais pas seulement, puisque CF nous
                        conseille aussi régulièrement sur différents sujets liés notamment à
                        l’optimisation du pilotage de notre activité. Des recommandations à haute valeur ajoutée pour
                        nous. ”
                    </p>


                    <button
                        class="relative overflow-hidden border-[#3C5A62]  hover:cursor-pointer  px-7 py-3 md:border-2 rounded-tl-[206.22px] rounded-br-[206px]
            text-[#3C5A62] transition-all border  shadow-2xl before:ease before:absolute before:top-1/2
            before:h-0 before:w-64 before:origin-center before:-translate-x-20 before:rotate-45
             before:bg-[#3C5A62] before:duration-300 hover:text-white hover:shadow-[#3C5A62] hover:before:h-64 hover:before:-translate-y-32">

                        <a to="contact" href="assets/cv.pdf" class="relative z-10 font-bold" download smooth={true}
                            offset={-200} duration={500}>

                    Discover Us
                        </a>
                    </button>



                </div>
            </div>
        </div>
    </div>
</section>
