<!-- One -->
<section class="overflow-hidden pt-20 pb-12   lg:pt-[120px]
      lg:pb-[90px]
         dark:bg-dark">
          <div class="container mx-auto ">
            <div class="flex flex-wrap items-center justify-center p-8 -mx-4">
              <div class="w-full px-4 lg:w-4/12">
                <div class="flex items-center -mx-3 sm:-mx-4">
                  <div class="w-full px-3 sm:px-4 xl:w-1/2">
                    <div class="py-3 sm:py-1">
                      <img
                        src="https://i.ibb.co/gFb3ns6/image-1.jpg"
                        alt=""
                        class=" w-full lg:w-[16rem] lg:h-[16rem] rounded-3xl"
                      />
                    </div>
                    <div class="py-3 sm:py-4">
                      <img
                        src="https://i.ibb.co/rfHFq15/image-2.jpg"
                        alt=""
                        class=" w-full lg:w-[16rem] lg:h-[16rem] rounded-3xl"
                      />
                    </div>
                  </div>
                  <div class="w-full px-3 sm:px-4 xl:w-1/2">
                    <div class="relative my-4 ">
                      <img
                        src="https://i.ibb.co/9y7nYCD/image-3.jpg"
                        alt=""
                        class="w-full lg:w-[16rem] lg:h-[22rem] rounded-3xl"
                      />

                    </div>
                  </div>
                </div>
              </div>

              <div class="w-full px-4 lg:w-1/2 xl:w-5/12 ">
                <div class="mt-10 lg:mt-0 lg:ml-4">
                  <span class="block mb-4 text-lg font-semibold w-fit underline1 text-primary">
                    Why Choose Us
                  </span>
                  <h2 class="mb-5 text-3xl font-bold text-dark dark:text-white sm:text-[40px]/[48px]">
                 A Propos de Nous     </h2>
                  <p class="mb-5 text-base text-body-color dark:text-dark-6">
                    It is a long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout.
                      The point of using Lorem Ipsum is that it has a more-or-less.
                  </p>
                  <p class="mb-4 text-base text-body-color dark:text-dark-6">
                    A domain name is one of the first steps to establishing your
                    brand. Secure a consistent brand image with a domain name that
                    matches your business.
                  </p>

                  <button
                  class="relative overflow-hidden border-[#16005A]  hover:cursor-pointer  px-7 py-3 md:border-2 rounded-tl-[206.22px] rounded-br-[206px]
      text-[#16005A] transition-all border  shadow-2xl before:ease before:absolute before:top-1/2
      before:h-0 before:w-64 before:origin-center before:-translate-x-20 before:rotate-45
       before:bg-[#16005A] before:duration-300 hover:text-white hover:shadow-[#16005A] hover:before:h-64 hover:before:-translate-y-32">

                  <a to="contact" href="assets/cv.pdf" class="relative z-10 font-bold" download smooth={true}
                      offset={-200} duration={500}>

                      Nous Connaitre
                  </a>
              </button>
                </div>
              </div>
            </div>
          </div>
        </section>
<!-- Two -->

<div class='relative w-full p-6 h-[20rem] text-white bg-[#16005A]'>
    <!-- Background Image -->
    <img
        src="assets/images/sections/laptob.jpeg"
        alt="Guide Image 2"
        class="absolute inset-0 z-0 object-cover w-full h-full opacity-80"
    >

    <!-- Blue Overlay -->
    <div class="absolute inset-0 bg-[#16005A] opacity-60 z-10"></div>

    <!-- Content -->
    <div class="container relative z-20 flex items-center justify-center h-full p-4 mx-auto text-white ">
        <div class="grid items-center grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3">


          <div class="flex flex-col items-center p-4 rounded-lg cursor-pointer ">
            <i class="text-4xl fas fa-map-marker-alt"></i>
            <h3 class="mt-2 mb-2 text-2xl font-bold uppercase">experience</h3>
            <p class="w-[18rem] text-xl text-center">d'expérience reconue expertises pour vous accoumpagner</p>
          </div>
          <div class="flex flex-col items-center p-4 rounded-lg cursor-pointer ">
            <i class="text-4xl fas fa-map-marker-alt"></i>
            <h3 class="mt-2 mb-2 text-2xl font-bold uppercase"> services clients </h3>
            <p class="w-[18rem] text-xl text-center">Cabinets d'excellence expertises pour vous accoumpagner</p>
          </div>
          <div class="flex flex-col items-center p-4 rounded-lg cursor-pointer ">
            <i class="text-4xl fas fa-user-check"></i>
            <h3 class="mt-2 mb-2 text-2xl font-bold uppercase">Guicget unique</h3>
            <p class="w-[18rem] text-xl text-center">Cabinets d'excellence expertises pour vous accoumpagner</p>
          </div>

        </div>
      </div>

</div>
