<app-header></app-header>
<div class="p-3 mt-[2rem]">
    <h1 class="text-4xl font-bold text-center ">Nos Partenariats</h1>
    <div class="flex items-center justify-center mt-9 ">
        <div class="grid grid-cols-1 gap-4 mb-8 lg:gap-6 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3">

            <div class="flex flex-col justify-center gap-[1rem] " *ngFor="let e of brands">
                <img [src]="'assets/images/projects/'+e.img" class="  w-[15rem] h-[15rem]">
                <h3 class="font-medium text-center"> {{e.name}} </h3>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
