<div class="flex flex-col-reverse items-center justify-center md:flex-row">

    <div class="p-5 md:w-1/2">
        <h1 class="mb-4 text-3xl font-bold text-[#16005A]">L’appel à projets annuel en interne</h1>
        <p class="mb-6">Chaque année, l’ensemble des collaborateurs du Groupe sont invités à présenter un projet qui leur tient à cœur et qui après vote, sera soutenu financièrement par le fonds de dotation.</p>
        <h2 class="mb-2 text-2xl font-bold text-[#16005A]">Le projet soutenu en 2022</h2>
        <p class="mb-4">En 2022, l’association Demain Solidaire a bénéficié de 5 000€ pour lui permettre de développer de nouveaux projets.</p>
        <p class="mb-4">En quelques mots, Demain Solidaire est une association du Sud Toulousain qui a pour mission de redonner le sourire à des enfants hospitalisés ou en situation de handicap en allant à leur rencontre pour des animations déguisées (clown, mascotte, etc.) dans les Instituts Médico Educatifs ou hôpitaux et en leur proposant des sorties (zoo, ferme pédagogique, cinéma, etc.).</p>
        <p>Grâce à cette donation, Demain Solidaire va lancer son projet « Handicam » qui vise à proposer aux hôpitaux des casques à vision panoramique permettant à l’enfant hospitalisé ou en situation de handicap de pouvoir visiter un lieu de son choix à distance grâce à une caméra tenu en duplex par un animateur qui sera en quelques sortes ses jambes.</p>
    </div>
    <div class="md:w-1/2">
        <img src="assets/images/projects/no1.jpeg" alt="Project Image" class="object-cover w-full h-auto">
    </div>
</div>
