<div class="py-12 bg-white">
    <div class="container px-4 mx-auto">
      <h2 class="mb-8 text-2xl font-bold text-center md:text-4xl">Quelques contenus utiles pour piloter votre activité</h2>
      <div class="flex flex-wrap items-start justify-center">
        <div class="w-full p-4 md:w-1/2 lg:w-1/3">
          <div class="overflow-hidden bg-white rounded shadow-lg">
            <img src="assets/images/sections/books.jpeg" alt="Guide Image 1" class="object-cover w-full h-48">
            <div class="p-4">
              <span class="inline-block px-2 py-1 text-xs text-white bg-blue-600 rounded">Guide</span>
              <h3 class="mt-2 text-lg font-semibold">Tout savoir sur la facturation électronique</h3>
            </div>
          </div>
        </div>
        <div class="w-full p-4 md:w-1/2 lg:w-1/3">
          <div class="overflow-hidden bg-white rounded shadow-lg">
            <img src="assets/images/sections/education.jpeg" alt="Article Image 1" class="object-cover w-full h-48">
            <div class="p-4">
              <span class="inline-block px-2 py-1 text-xs text-white bg-blue-600 rounded">Article</span>
              <h3 class="mt-2 text-lg font-semibold">Comment se déroule une rupture conventionnelle ?</h3>
            </div>
          </div>
        </div>
        <div class="w-full p-4 md:w-1/2 lg:w-1/3">
          <div class="overflow-hidden bg-white rounded shadow-lg">
            <img src="assets/images/sections/laptob.jpeg" alt="Guide Image 2" class="object-cover w-full h-48">
            <div class="p-4">
              <span class="inline-block px-2 py-1 text-xs text-white bg-blue-600 rounded">Guide</span>
              <h3 class="mt-2 text-lg font-semibold">Comment s’installer en libéral ?</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
