<div class="flex flex-col items-center justify-center p-10">
    <h1 class="mb-10 text-4xl font-bold text-center">Nos Projets Realises</h1>

    <div class="relative flex items-center justify-center w-full bg-no-repeat bg-cover max-w-7xl "
   >
    <img src="assets/images/projects/no1.jpeg" alt="" class="hidden md:block">
        <!-- <div class="absolute inset-0 bg-[#16005A] bg-opacity-60"></div> -->

        <div class="relative z-10 w-full ml-auto mr-auto md:w-[32rem]  lg:w-[38rem] p-8 md:ml-[-8rem] text-white bg-[#16005A]">
            <h1 class="mb-4 text-2xl font-bold">Notre leitmotiv</h1>
            <p class="mb-4">
                Acteur de son environnement, le groupe CF a pris la décision de
                créer son fonds de dotation en 2021 afin de soutenir les actions qui lui sont chères, et notamment :
            </p>
            <ul class="pl-5 space-y-2 list-disc">
                <li>
                    Les initiatives du secteur social et éducatif ;
                </li>
                <li>
                    Le domaine de l'écologie et de la protection de l'environnement ;
                </li>
                <li>
                    Les actions en faveur de la préservation du Patrimoine.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="h-[2px] ml-auto mr-auto bg-gray-400 max-w-7xl"></div>
