<header>
    <nav class="w-screen bg-white">
      <div class="container flex items-center justify-between m-auto shadow-sm lg:justify-around shadow-indigo-300">
        <h1 class="flex gap-2 py-4 pl-8 text-2xl font-bold cursor-pointer md:ml-0 flex-row text-[#3B5962]">
          <img src="assets/images/logo/logo.png" alt="" class="w-[3.75rem] h-[2.75rem]">
        </h1>
        <!-- Main Menu for Large Screens -->
        <ul class="items-center hidden pr-10 text-lg font-medium cursor-pointer lg:flex">
          <li class="px-6 py-4 duration-500 underlineHover hover:text-[#B70035] hover:pointer-auto">
            <a routerLink="/">Acceuil</a>
          </li>
          <li class="px-6 py-4 duration-500 underlineHover hover:pointer-auto hover:text-[#B70035]">
            <a routerLink="/about" routerLinkActive="router-link-active">A propos</a>
          </li>
          <li class="relative px-6 py-4 duration-500 group underlineHover hover:text-[#B70035]">
            <a>Program</a>
            <!-- Dropdown Menu -->
            <ul class="absolute left-0 hidden w-[15rem] z-40 h-[7rem] mt-2 bg-[#16005A] text-white  rounded shadow-lg group-hover:block">
              <li class="px-4 py-2 mt-[1rem]">
                <a routerLink="/encours">Program en cours</a>
              </li>
              <li class="px-4 py-2">
                <a routerLink="/realise">Program realise</a>
              </li>
            </ul>
          </li>
          <li class="px-6 py-4 duration-500 underlineHover hover:text-[#B70035]">
            <a routerLink="/actualite">Actualite</a>
          </li>
          <li class="px-6 py-4 duration-500 underlineHover hover:text-[#B70035]">
            <a routerLink="/annonces">Annonces</a>
          </li>


          <li class="relative px-6 py-4 duration-500 group underlineHover hover:text-[#B70035]">
            <a>Partenariats</a>
            <!-- Dropdown Menu -->
            <ul class="absolute left-0 hidden w-[15rem] z-40 h-[7rem] mt-2 bg-[#16005A] text-white  rounded shadow-lg group-hover:block">
              <li class="px-4 py-2 mt-[1rem]">
                <a routerLink="/partenaires">Nos Partenaires</a>
              </li>
              <li class="px-4 py-2">
                <a routerLink="/partenaires">Nouveau Partenaires</a>
              </li>
            </ul>
          </li>
        </ul>


        <!-- Mobile Menu Button -->
        <button class="lg:hidden group">
          <mat-icon class="mr-5">menu</mat-icon>
          <!-- Mobile Menu -->
          <div class="absolute top-0 z-40 flex items-center w-7/12 h-screen ml-auto transition-all duration-500 bg-gray-900 md:w-5/12 right-full group-focus:right-0">
            <ul class="flex flex-col items-center w-full text-base font-semibold text-white cursor-pointer">
              <li class="px-6 py-4 duration-500 underlineHover hover:pointer-auto">
                <a>Acceuil</a>
              </li>
              <li class="px-6 py-4 duration-500 underlineHover hover:pointer-auto">
                <a>A propos</a>
              </li>
              <li class="px-6 py-4 duration-500 underlineHover">
                <a routerLink="/encours">Program</a>
              </li>
              <li class="px-6 py-4 duration-500 underlineHover">
                <a routerLink="/actualite">Actualite</a>
              </li>
              <li class="px-6 py-4 duration-500 underlineHover">
                <a routerLink="/annonces">Annonces</a>
              </li>
              <li class="px-6 py-4 duration-500 underlineHover">
                <a routerLink="/partenaires">Partenariats</a>
              </li>
            </ul>
          </div>
        </button>
      </div>
    </nav>
  </header>
