<div class="relative p-6 mt-20 md:mt-12 bg-white sm:p-12 md:p-20 lg:m-4">
    <div class="grid grid-cols-1 gap-1 sm:grid-cols-1 md:grid-cols-4 lg:gap-4 lg:m-12">

        <div class="col-span-1 row-span-2 p-14 bg-[#00254F] text-white sm:p-12 lg:p-32 lg:m-4">
            <h1 class='text-2xl font-semibold text-left'>Innovation</h1>
            <p class='mt-2 md:mt-0 max-w-xl text-[17px] md:text-[20px]'>
                Créer et se renouveler sans cesse pour répondre au mieux à vos attentes de demain.
            </p>
        </div>

        <div class="col-start-1 row-span-2 p-28 bg-cover bg-center bg-slate-400 sm:col-start-1 md:col-start-4 sm:p-12 lg:p-8 lg:m-4" style="background-image: url('path/to/your/image.jpg')">
            <h1 class='text-5xl font-semibold text-center text-white lg:text-black'>Intégrité</h1>
        </div>

        <div class="col-start-1 row-span-2 p-24 md:col-span-2 md:row-span-4 bg-cover bg-center bg-slate-400 sm:p-12 lg:p-36 lg:m-4" style="background-image: url('path/to/your/image.jpg')">
            <h1 class='text-5xl font-semibold text-center text-white lg:text-left'>Nos Valeurs</h1>
        </div>

        <div class="col-span-1 col-start-1 row-span-2 row-start-3 p-28 lg:m-4 sm:col-span-1 md:col-span-2 sm:col-start-1 md:col-start-3 md:row-span-2 bg-cover bg-center bg-slate-400 sm:p-12 lg:p-36" style="background-image: url('path/to/your/image.jpg')">
            <h1 class='text-5xl font-semibold text-center text-white'>Proximité</h1>
        </div>

        <div class="col-span-1 col-start-1 row-span-2 row-start-5 p-20 text-white sm:col-span-1 md:col-span-2 sm:col-start-1 md:col-start-3 bg-[#29405d] sm:p-12 lg:p-36 lg:m-4">
            <h1 class='text-2xl font-semibold text-left'>Performance</h1>
            <p class='mt-2 md:mt-0 max-w-xl text-[17px] md:text-[20px]'>
                Notre objectif : mettre notre culture de la performance au service d’une plus grande réussite de tous.
            </p>
        </div>
    </div>
</div>
