<div class="relative p-6 mt-[5rem] md:mt-[3rem] bg-white sm:p-12 md:p-20  ">
    <h1 class="mb-10 text-4xl font-bold text-center">Notre Actualites</h1>
    <div
        class="grid grid-cols-1 gap-[0.5rem] sm:grid-cols-1  md:grid-cols-[1fr,1fr,1fr,1fr] md:grid-rows-[1fr,1fr,1fr,1fr]">

        <div class="relative col-span-1 row-span-2 p-[3.5rem] bg-cover bg-center text-white sm:p-12 lg:p-[8rem]
         md:col-span-3 " style="background-image: url('assets/images/projects/nature.jpeg');">
            <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent"></div>
            <div class="absolute bottom-0 left-0 w-full p-4">
                <p class='mt-2   text-2xl lg:text-3xl font-semibold md:text-[20px]'>
                    Créer et se renouveler sans cesse pour répondre au mieux à vos attentes de demain.
                </p>
            </div>
        </div>




        <div class="relative col-start-1 row-span-2 p-[7rem] sm:col-start-1 md:col-start-4 bg-cover bg-center sm:p-12 lg:p-[2rem]  "
            style="background-image: url('assets/images/projects/no3.jpeg');">
            <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent"></div>
            <div class="absolute bottom-0 left-0 w-full p-4">
                <p class='mt-2   text-2xl text-white lg:text-xl font-semibold md:text-[20px]'>
                    Créer et se renouveler sans cesse pour répondre au mieux à vos attentes de demain.
                </p>
            </div>
        </div>

        <div class="relative col-start-1 row-span-2 p-[6rem] md:col-span-2 md:row-span-4 bg-cover bg-center sm:p-12 lg:p-[9rem]  "
            style="background-image: url('assets/images/projects/company.jpeg');">
            <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent"></div>
            <div class="absolute bottom-0 left-0 w-full p-4">
                <h1 class='text-5xl font-semibold text-center text-white lg:text-left'>Nos Valeurs</h1>
            </div>
        </div>


        <div class="relative col-span-1 col-start-1 row-span-2 row-start-3 p-[7rem]
        sm:col-span-1 md:col-span-2 sm:col-start-1 md:col-start-3 md:row-span-2 bg-cover bg-center sm:p-12 lg:p-[9rem]"
            style="background-image: url('assets/images/projects/education.jpeg');">
            <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent"></div>
            <div class="absolute bottom-0 left-0 w-full p-4 text-white">
                <h1 class='text-2xl font-semibold text-left'>Performance</h1>
                <p class='mt-2 md:mt-0 max-w-xl text-[17px] md:text-[20px]'>
                    Notre objectif : mettre notre culture de la performance au service d’une plus grande réussite de
                    tous.
                </p>
            </div>
        </div>


        <div class="relative col-span-1 col-start-1   row-span-2 row-start-5 p-[5rem] sm:col-span-1
         md:col-span-2 sm:col-start-1 text-white md:col-start-3 bg-cover bg-center sm:p-12 lg:p-[9rem]"
            style="background-image: url('assets/images/projects/education.jpeg');">
            <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent"></div>
            <div class="absolute bottom-0 left-0 w-full p-4">
                <h1 class='text-2xl font-semibold text-left'>Performance</h1>
                <p class='mt-2 md:mt-0 max-w-xl text-[17px] md:text-[20px]'>
                    Notre objectif : mettre notre culture de la performance au service d’une plus grande réussite de
                    tous.
                </p>
            </div>
        </div>






    </div>
</div>
