<div class="py-12 text-black ">
    <div class="container px-4 mx-auto">
        <h2 class="mb-8 text-2xl font-extrabold text-center md:text-4xl text-[#B70035] ">Why Over 3 Million People Choose Us</h2>

        <div class="flex flex-wrap gap-[2rem] items-center justify-center">

            <div class="flex flex-col">
                <div class="w-[27rem] flex  p-4 text-center items-center space-x-4">
                    <div class="flex-1 p-6 text-black bg-white">
                        <h3 class="text-xl font-semibold text-right uppercase ">Credibility</h3>
                        <p class="text-right">
                            We verify Freelancers, publish their feedback scores and All-Time Transaction Data to help
                            you identify time-tested professionals across the globe.
                        </p>
                    </div>
                    <i class="text-6xl fa-regular fa-comments text-[#4466C9]"></i>
                </div>

                <div class="w-[27rem] flex  p-4 text-center items-center space-x-4">
                    <div class="p-6 text-black bg-white ">
                        <h3 class="text-xl font-semibold text-right uppercase ">Security</h3>
                        <p class="text-right ">
                            We offer SafePay payment protection and your choice of preferred payment method for financial
                            peace of mind.
                        </p>
                    </div>
                    <i class="text-6xl fa-regular fa-face-smile text-[#4466C9]"></i>

                </div>


                <div class="w-[27rem] flex  p-4 text-center items-center space-x-4">
                    <div class="p-6 text-black bg-white ">
                        <h3 class="text-xl font-semibold text-right uppercase ">Support</h3>
                        <p class="text-right ">
                            Our dedicated support team works 24/7 to resolve all of your queries over the phone or email,
                            no matter where you are located.
                        </p>
                    </div>
                    <i class="text-6xl fa-regular fa-star text-[#4466C9]"></i>
                </div>
            </div>

            <img
                src="assets/images/logo/logo.png"
                alt
                class="w-[26rem] h-[22rem] "
            >

            <div class="flex flex-col">
                <div class="w-[27rem] flex  p-4 text-center items-center space-x-4">
                    <i class="text-6xl fa-regular fa-star text-[#4466C9]"></i>
                    <div class="p-6 text-black bg-white ">
                        <h3 class="text-xl font-semibold text-left uppercase ">Flexibility</h3>
                        <p class="text-left ">
                            We provide multiple payment terms and flexible agreements to enable you to work the way you
                            want.
                        </p>
                    </div>

                </div>

                <div class="w-[27rem] flex  p-4 text-center items-center space-x-4">
                    <i class="text-6xl fa-regular fa-face-smile text-[#4466C9]"></i>
                    <div class="p-6 text-black bg-white ">
                        <h3 class="text-xl font-semibold text-left uppercase ">Value</h3>
                        <p class="text-left ">
                            We have the lowest fees in the industry, providing you with maximum value at minimum cost.
                        </p>
                    </div>

                </div>
                <div class="w-[27rem] flex  p-4 text-center items-center space-x-4">
                    <i class="text-6xl fa-regular fa-face-smile text-[#4466C9] "></i>
                    <div class="p-6 text-black bg-white ">
                        <h3 class="text-xl font-semibold text-left uppercase ">Value</h3>
                        <p class="text-left ">
                            We have the lowest fees in the industry, providing you with maximum value at minimum cost.
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class='relative w-full p-6 h-[16rem] text-white bg-[#16005A]'>
    <!-- Background Image -->
    <img
        src="assets/images/sections/laptob.jpeg"
        alt="Guide Image 2"
        class="absolute inset-0 z-0 object-cover w-full h-full opacity-80"
    >

    <!-- Blue Overlay -->
    <div class="absolute inset-0 bg-[#16005A] opacity-60 z-10"></div>

    <!-- Content -->
    <div class="relative z-20 flex items-center justify-around h-full">
        <h1 class="text-3xl font-bold text-left">
            L’IA a ses standards. Nous avons les nôtres.
            <br>
            Découvrez notre nouvelle campagne de recrutement #JoinCF
        </h1>

        <button class="relative overflow-hidden border-white  hover:cursor-pointer  px-9 py-4 md:border-2 rounded-tl-[206.22px] rounded-br-[206px]
text-white transition-all border  shadow-2xl before:ease before:absolute before:top-1/2
before:h-0 before:w-64 before:origin-center before:-translate-x-20 before:rotate-45
before:bg-[#16005A] before:duration-300 hover:text-white hover:shadow-[#16005A] hover:before:h-64 hover:before:-translate-y-32">

            <a
                to="contact"
                href="assets/cv.pdf"
                class="relative z-10 font-bold"
                download
                smooth={true}
                offset={-200}
                duration={500}
            >
                Decouvrir
            </a>
        </button>

    </div>
</div>
