<div class="py-12 text-black ">
    <div class="container px-4 mx-auto">
        <h2 class="mb-8 text-2xl font-bold text-center md:text-4xl text-[#B70035] ">Why Over 3 Million People Choose Us</h2>

        <div class="flex flex-wrap gap-[2rem] items-center justify-center">

            <div class="flex flex-col">
                <div class="w-[27rem]  p-4 text-center ">
                    <div class="p-6 text-black bg-white rounded shadow-lg">
                        <h3 class="text-xl font-semibold ">Credibility</h3>
                        <p>
                            We verify Freelancers, publish their feedback scores and All-Time Transaction Data to help
                            you identify time-tested professionals across the globe.
                        </p>
                    </div>
                </div>

                <div class="w-[27rem]  p-4 text-center ">
                    <div class="p-6 text-black bg-white rounded shadow-lg">
                        <h3 class="text-xl font-semibold ">Security</h3>
                        <p>
                            We offer SafePay payment protection and your choice of preferred payment method for financial
                            peace of mind.
                        </p>
                    </div>
                </div>
                <div class="w-[27rem]  p-4 text-center ">
                    <div class="p-6 text-black bg-white rounded shadow-lg">
                        <h3 class="text-xl font-semibold ">Support</h3>
                        <p>
                            Our dedicated support team works 24/7 to resolve all of your queries over the phone or email,
                            no matter where you are located.
                        </p>
                    </div>
                </div>
            </div>

            <img
                src="assets/images/logo/logo.png"
                alt
                class="w-[26rem] h-[22rem] "
            >

            <div class="flex flex-col">
                <div class="w-[27rem]  p-4 text-center ">
                    <div class="p-6 text-black bg-white rounded shadow-lg">
                        <h3 class="text-xl font-semibold ">Flexibility</h3>
                        <p>
                            We provide multiple payment terms and flexible agreements to enable you to work the way you
                            want.
                        </p>
                    </div>
                </div>

                <div class="w-[27rem]  p-4 text-center ">
                    <div class="p-6 text-black bg-white rounded shadow-lg">
                        <h3 class="text-xl font-semibold ">Value</h3>
                        <p>
                            We have the lowest fees in the industry, providing you with maximum value at minimum cost.
                        </p>
                    </div>
                </div>
                <div class="w-[27rem]  p-4 text-center ">
                    <div class="p-6 text-black bg-white rounded shadow-lg">
                        <h3 class="text-xl font-semibold ">Value</h3>
                        <p>
                            We have the lowest fees in the industry, providing you with maximum value at minimum cost.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
